.container {
   display: flex;
   align-items: center;
   padding: 16px 16px;
   background: #F4FFFE;
   border: 1px solid #EBEDF0;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
   border-radius: 12px;
   justify-content: space-between;
   max-width: 450px;
}

.progressContainer {
   margin: 10px 0;
   height: 12px;
   align-self: stretch;
   background-color: #D5E9E7;
   border-radius: 26px;
   position: relative;
}
.progress{
   position: absolute;
   left: 0;
   height: 100%;
   border-radius: 26px;

   background-color: #26A925;
}