.footer-bg {
    background-color: #F0F5FF;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
@media only screen and (min-width: 976px) {
    .footer-bg {
        display: none;
    }
} 

.icon-bg {
    background-color: #CDDCFA;
    padding: 7px 23px;
    border-radius: 16px;
}

.icon-bg-2 {
    /* background-color: #CDDCFA; */
    padding: 7px 23px;
    border-radius: 16px;


}

.count {
    position: absolute;
    background-color: #B3261E;
    border-radius: 100px;
    color: white;
    width: 14px;
    height: 14px;
    font-weight: 500;
    font-size: 11px;
    position: absolute;
    top: 5%;
    right: 32%;
}