.background {
    background-color: #F0F5FF;
    ;

}

.container {
    font-family: 'Noto Sans', sans-serif;
}


.welcome-color {
    color: #6D747A;
}

.name {
    font-weight: normal;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (min-width: 976px) {

    .mobile {

        display: none;

    }

} 


@media only screen and (max-width: 976px) {
    .desktop {
        display: none;
    }

} 