.custom {
    background-color: #DEF9FF;
    border-radius: 24px;
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
    width: 220px;
    height: 298px;
}

.date-bg {
    color: #6C7277;
}

.Live {
    background-color: #DD1D43;
    border-radius: 12px;
    width: 50px;
    position: absolute;
    top: 5%;
    right: 5%;
}

.arrow-rotate {
    rotate: 7deg;
}

.ball {
    width: 40px;
    height: 40px;
    background-color: #D3E6FE;
    position: absolute;
    bottom: 45%;
    right: 5%;
    /* cursor: pointer; */
}

.session-img {
    height: 450px;
}

@media only screen and (max-width: 768px) {

    .show-events {
        display: none;
    }


}


@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* .custom {
        max-width: 290px;
    } */


}

@media only screen and (min-width: 769px) {
    .show-sessions {
        display: none;
    }

    .custom {
        background-color: #DEF9FF;
        border-radius: 48px;
        position: relative;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
        width: 348px;
        height: 423px;
    }

    .session-img {
        height: 220px;
        transition: 0.4s;
    }

    .name-author {
        color: #6D747A;
    }

    .user-name-desktop {
        width: 48px;
    }

    .single-session-container:hover .session-img {
        transform: scale(1.4);
    }

    .Live {
        background-color: #DD1D43;
        border-radius: 47px;
        width: 92px;
        position: absolute;
        top: 5%;
        right: 5%;
    }

    .LiveImgDesktop {
        width: 15px;
    }

}

@media only screen and (max-width: 768px) {
  .slick-current>div>.northArrow::after {
    
    position: absolute;
    content: url(../../assets/icons/northArrow.svg);
    padding: 0 15px;
    padding-top:15px ;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    background: #D3E6FE;
    bottom: 170px;
    right: 10px;
    cursor: pointer;
}
}
