.background-story-1 {
    /* background-image: url('../../Images/Rectangle\ 5.png');

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    border-radius: 24px;
    /* height: 209px; */
    position: relative;
}

.background-story-2 {
    background-image: url('../../Images/Rectangle\ 6.png');

    /* color:transparent; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 24px;
    position: relative;
}


.details {
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
}

.topcorner {
    position: absolute;
    top: 5%;
    right: 10%;
}


@media only screen and (min-width: 768px) {

    .responsive-width,
    .background-story-1 {


        height: 480px;
    }




}

@media only screen and (max-width: 769px) {

    .responsive-width,
    .background-story-1 {

        height: 209px;
    }

}