.activity {
   background: #FFFFFF;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
   border-radius: 12px;
   min-height: 104px;
   padding: 17px;
   /* display: flex; */
   flex-direction: column;
   /* margin-left: 7px; */
   align-items: center;
   justify-content: center;
   max-height: 100px;
}
.activity:hover{
   background-color: rgb(205, 247, 255);
}

.guitar {
   width: 80%;
    position: relative;
    top: 6%;
    left: 32%;
}