.modalContainer {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 5000;
   overflow: auto;
   display: flex;
   justify-content: center;
   align-items: center;

}

.modalOverlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: -1;
}

.cancelBtn {
   position: absolute;
   right: 20px;
   top: 20px;
}

.backBtn {
   position: absolute;
   left: 20px;
   top: 20px;
   display: flex;
   align-items: center;
   background-color: rgba(0, 28, 56, 0.2);
   backdrop-filter: blur(6px);
   border-radius: 50%;
   z-index: 6000;
}

.storyImg {
   position: absolute;
   top: 20px;
   left: 0;
   width: 100%;
   height: calc(100% - 20px);
   display: flex;
   align-items: center;
   z-index: -1;
}

.storyVideo {
   position: absolute;
   top: 40px;
   left: 0;
   width: 100%;
   bottom: 40px;
   display: flex;
   align-items: center;
   z-index: 1;
}

.iconContainer {
   cursor: pointer;
}

.storyImg img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 0px;
}

/* FOOTER */

.footer {
   position: fixed;
   bottom: 0px;
   left: 0;
   margin-top: auto;
   width: 100%;
   display: flex;
   justify-items: end;
   align-items: center;
   padding: 3px 23px 20px 20px;
   z-index: 8000;
   color: white;
   /* font-family: Roboto; */
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -10.94%, rgba(0, 0, 0, 0.7) 100%);

}

.footer img {
   /* width: 22px;
   height: 19px; */
   margin-bottom: 6.55px;
}

.leftIcon,
.RightIcon {
   display: block;
   z-index: 5000;
}

.leftIcon,
.RightIcon {
   display: block;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   width: 50px;
       border-radius: 50%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.291);
}

.leftIcon {
   left: 10px;
}

.RightIcon {
   right: 10px;
}

.logo {
   display: none;
}

@media only screen and (max-width: 768px) {
   .storyImg {
      max-height: 70vh;
      top: 50%;
      transform: translateY(-50%);
   }

   

   .storyVideo {
      position: static;
      margin-top: 2rem;
      min-height: 400px;
      height: calc(100vh - 4rem);
   }

   .leftIcon,
   .RightIcon {
      position: fixed;
   }
}

@media only screen and (min-width: 768px) {

   .storyImg img {
      border-radius: 24px;
   }
   .cancelBtn {
      right: 30.97px;
      top: 30px;
   }
   .backBtn {
      left: 0;
   }

   .logo {
      display: inline-block;
   }

   .storyContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      padding-top: 50px;
      padding-bottom: 30px;
      max-width: 800px;
      margin: 0 auto;
      /* min-height: 600px; */
      /* height: 100vh; */
   }

   .leftIcon,
   .RightIcon {
      display: block;
   }

   .storyImg {
      position: static;
      max-width: 439px;
      height: calc(100vh - 120px);
      /* transform: translateX(-50%); */
   }

   .storyVideo {
      position: static;
      max-width: 490px;
      height: 100%;
      z-index: 1;
      min-height: 500px;
   }

   .storyVideo>div {
      width: 490px !important;
      height: 600px !important;
   }

   .storyImg {
      border-radius: 25px;
      max-width: 400px;

   }

   .footer {
      position: static;
      width: auto;
      background-image: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   .iconContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(6px);
      width: 44px;
      height: 44px;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 0.5rem;
   }

   .iconContainer img {
      margin-bottom: 0;
      width: 18px;
   }
}