.head{
    display: flex;
    height: 70px;
    /* background-color: aqua; */
}
.head1{
    display: flex;
    /* height: 70px; */
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: aqua; */
}
.edit-head{
    width: 100%;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
}
.head>img{
    height: 20px;
    width: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.image{
    height: 170px;
    width: 100%;
}
.ssmmillee{
    height: 91px;
    /* display: flex; */
    /* justify-content: center; */
    width: 91px;
    position: relative;
    top: 57px;
    left: 155px;
     background: linear-gradient(0deg, #D3E4FF, #D3E4FF),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    ;
    border-radius: 100px;
}
.ssmmillee>img{
    position: relative;
    top: 15px;
    left: 15px;
}
.img2{
    height: 60px;
    width: 60px;
}
.form{
    height: 377px;
    width: 100%;
    /* background-color: aqua; */
}
.input1{
    display: flex;
    flex-direction: column;
    padding: 12px 21px;
}
.input2{
    display: flex;
    flex-direction: column;
    padding: 12px 21px;
}

.email-input{
    height: 56px;
    width: 100%;
    border: 1px solid #79747E;
    font-size: 20px;
    margin-top: 6px;
}
.email-label{
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 600;
}
.email-input::placeholder{
    padding-left: 20px;
    font-size: 20px;
}
.male-input::placeholder{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}
.female-input::placeholder{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}
.gender-input{
    display: flex;
    height: 55px;
    width: 100%;
    /* flex-direction: column; */
}
.male-input{
    width: 22px;
    margin-left: 55px;
    
}
.female-input{
    width: 22px;
    margin-left: 55px;
    
}
.btn-Update{
    height: 50px;
    width: 90%;
    margin-top: 19px;
    margin-left: 20px;
    border-radius: 30px;
    background: #0055BF;
    border: none;
    font-size: 20px;
    color: white;
}
.all-interest{
    height: 504px;
    width: 94%;
    position: absolute;
    top: 120px;
    left: 10px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid black;
    display: none;
}
.close-interest{
    position: relative;
    top: 20px;
    left: 20px;
    height: 7%;
    width: 7%;
}
.int{
    display: flex;
    width: 100%;
}
.intp{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
}
.brk{
    /* color: black !important; */
    border: 1px solid #CED4DA
}
.butt1{
    height: 40px;
    width: 41%;
    /* background-color: black; */
    border: 1px solid #79747E;
    /* padding-left: 10px; */
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.interest-selected.butt1{
    border: 0;
    background-color: #BDF4FF;
}
.butt1>h3{
    color: #49454F;
    margin: 8px 0px;
    padding: 0px 0px;
    font-size: 15px;
    /* text-align: end; */
    margin-left: 7px;
    /* overflowwrap: break-word; */
}
.butt1>img{
    height: 23px;
    width: 23px;
    margin-top: 6px;
    margin-left: 10px;
}
.butt2{
    height: 40px;
    width: 50%;
    /* background-color: black; */
    border: 1px solid #79747E;
    /* padding-left: 10px; */
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.butt2>h3{
    color: #49454F;
    margin: 8px 0px;
    padding: 0px 0px;
    font-size: 15px;
    /* text-align: end; */
    margin-left: 7px;
    /* overflowwrap: break-word; */
}
.butt2>img{
    height: 23px;
    width: 23px;
    margin-top: 6px;
    margin-left: 10px;
}
.butt3{
    height: 40px;
    width: 41%;
    /* background-color: black; */
    border: 1px solid #79747E;
    /* padding-left: 10px; */
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.butt3>h3{
    color: #49454F;
    margin: 8px 0px;
    padding: 0px 0px;
    font-size: 15px;
    /* text-align: end; */
    margin-left: 7px;
    /* overflowwrap: break-word; */
}
.butt3>img{
    height: 23px;
    width: 23px;
    margin-top: 6px;
    margin-left: 10px;
}
.butt4{
    height: 40px;
    width: 50%;
    /* background-color: black; */
    border: 1px solid #79747E;
    /* padding-left: 10px; */
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.butt4>h3{
    color: #49454F;
    margin: 8px 0px;
    padding: 0px 0px;
    font-size: 15px;
    /* text-align: end; */
    margin-left: 7px;
    /* overflowwrap: break-word; */
}
.butt4>img{
    height: 23px;
    width: 23px;
    margin-top: 6px;
    margin-left: 10px;
}
.butt5{
    height: 40px;
    width: 41%;
    /* background-color: black; */
    border: 1px solid #79747E;
    /* padding-left: 10px; */
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.butt5>h3{
    color: #49454F;
    margin: 8px 0px;
    padding: 0px 0px;
    font-size: 15px;
    /* text-align: end; */
    margin-left: 7px;
    /* overflowwrap: break-word; */
}
.butt5>img{
    height: 23px;
    width: 23px;
    margin-top: 6px;
    margin-left: 10px;
}
.butt6{
    height: 40px;
    width: 44%;
    /* background-color: black; */
    border: 1px solid #79747E;
    /* padding-left: 10px; */
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.butt6>h3{
    color: #49454F;
    margin: 8px 0px;
    padding: 0px 0px;
    font-size: 15px;
    /* text-align: end; */
    margin-left: 7px;
    /* overflowwrap: break-word; */
}
.butt6>img{
    height: 23px;
    width: 23px;
    margin-top: 6px;
    margin-left: 10px;
}
.inttopic{
    display: flex;
    flex-wrap: wrap;
  
}
.cho{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 27px;
}
.addint{
    position: relative;
    top: 37px;
    left: 256px;
    height: 40px;
    width: 20%;
    /* border: 1px solid gray; */
    border-radius: 13px;
    color: white;
    font-size: 15px;
    border: none;
    background-color: #1B72C0;
}
.hend{
    /* position: relative;
    top: 20px; */
    margin-top: 60px;
    border: 1px solid #CED4DA;
}
.int-topic{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.more{
    text-align: center;
    font-size: 18px;
    margin-top:40px;
    color: #1B72C0;
}
.add-text{
    height: 504px;
    width: 94%;
    position: absolute;
    top: 120px;
    left: 10px;
    background-color: white;
    border-radius: 20px;
    display: none;
    border: 2px solid black;
}
.para{
    width: 83%;
    margin-left: 20px;
}
.data-input{
    height: 800px;
}
.para>p{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 12px;
}
.parainput{
    height: 40px;
    /* background-color: ; */
    width: 300px;
    border: 1px solid #79747E;
    border-radius: 3px;
}
.para>::placeholder{
    font-size: 19px;
    margin-left: 30px;
}
.send{
    height: 50px;
    width: 100px;
    font-size: 17px;
    color: white;
    position: relative;
    top: 167px;
    left: 220px;
    border: none;
    border-radius: 15px;
background: #1B72C0;
}

.checkbox-div-1{
    height: 54px;
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    border: 1px solid #79747E
}
.checkbox-div-2{
    height: 54px;
    width: 50%;
    /* background-color: aqua; */
    border: 1px solid #79747E;
    display: flex;
    margin-left: 20px;
}
.gender-male{
    position: relative;
    top: 11px;
    left: 19px;
    color: #49454F;
    font-size: 21px;
}
.gender-Female{
    position: relative;
    top: 11px;
    color: #49454F;
    left: 19px;
    font-size: 21px;
}