.activityContent {
   padding: 12px 12px;
   background: #D3E4FF;
   border-radius: 24px;
}

.playIcon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.activity {
   border: 1px solid #EBEDF0;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
   border-radius: 24px;
   padding: 6px 6px;
   display: flex;
   column-gap: 7px;
   margin-bottom: 1rem;
}
.image{
   width: 100%;
   max-width: 500px;
 
   object-fit: contain;
}
.seeMoreBtn{
   color: #1B72C0;
   display: inline-block;
   font-weight: 500;
   cursor: pointer;
}

.slider{
   position: relative;
   min-height: 430px;
   border-radius: 20px;
   overflow-x: hidden;
}
.nextIcon{
   position: absolute;
   right: 0;
   top: 50%;
   transform: translate(30%,-50%);
   z-index: 100;
   cursor: pointer;
}