.toggle{
   
   height: 32px;
   width: 52px;
   border-radius: 30px;
   /* margin-top: 30px; */
   display: flex;
   border:2px solid gray
}
.toggle1{
 
   height: 32px;
   width: 54px;
   border-radius: 30px;
   /* margin-top: 30px; */
   display: flex;
}
.toggle_left{
   height: 16px;
   width: 16px;
   background-color: #79747E;
   border-radius: 20px;
   margin: 6px;
}
.toggle_right{
   height: 22px;
   width: 22px;
   background-color: antiquewhite;
   border-radius: 20px;
   margin: 3px 4px 5px 23px;
}