.cusStyle {
  letter-spacing: 1px !important;
  line-height: 38px;
  font-size: 32px;
  width: 240px;
  margin-left: 20px;
}

@media (min-width: 992px) {
  .cusStyle {
    letter-spacing: 2px !important;
    line-height: 50px;
    font-size: 32px;
    width: 100%;
    margin-left: 0 !important;
  }

  .cusLineH {
    line-height: 60px;
    font-size: 32px;

    margin-left: 20px !important;
  }
}

.vector {

  animation: myAnim 1s ease 1s 1 normal forwards;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 47%;
  left: 42%;
  z-index: 9999;
}

.vector1 {

  animation: myAnim1 1s ease 1s 1 normal forwards;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 42%;
  left: 31%;
  z-index: 9999;
}

.vector2 {

  animation: myAnim2 1s ease 1s 1 normal forwards;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 36%;
  left: 19%;
  z-index: 9999;
}

.vector3 {

  animation: myAnim3 1.2s ease-in-out 1s 1 normal forwards;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 50%;
  left: 56%;
  z-index: 9999;
}

.vector4 {

  animation: myAnim4 1.2s ease-in-out 1s 1 normal forwards;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 41%;
  left: 49%;
  z-index: 9999;
}

.vector5 {

  animation: myAnim5 1.2s ease-in-out 1s 1 normal forwards;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 28%;
  left: 52%;
  z-index: 9999;
}

.vector6 {


  position: absolute;
  bottom: 22%;
  left: 45%;
  z-index: 9999;
}

.vector7 {


  position: absolute;
  bottom: 32%;
  left: 11%;
  z-index: 9999;
}

@keyframes myAnim5 {
  0% {
    transform: translateX(0px);

  }

  90% {
    transform: translate(20px, -21px);

  }

  100% {
    transform: translate(20px, -20px);

  }
}

@keyframes myAnim4 {
  0% {
    transform: translateX(0px);

  }

  90% {
    transform: translate(30px, -32px);

  }

  100% {
    transform: translate(30px, -30px);

  }
}

@keyframes myAnim1 {
  0% {
    transform: translateX(0px);

  }

  90% {
    transform: translate(31px, -152px);

  }

  100% {
    transform: translate(30px, -150px);

  }
}

@keyframes myAnim3 {
  0% {
    transform: translateX(0px);

  }

  90% {
    transform: translate(60px, -122px);

  }

  100% {
    transform: translate(60px, -120px);

  }
}

@keyframes myAnim2 {
  0% {
    transform: translateX(0px);

  }

  90% {
    transform: translate(66px, -102px);
    transition: ease-in-out;

  }

  100% {
    transform: translate(65px, -100px);
    transition-duration: 100ms;

  }
}

@keyframes myAnim {
  0% {
    transform: translateX(0px);

  }

  90% {
    transform: translate(36px, -72px);
    transition: ease-in-out;

  }

  100% {
    transform: translate(36px, -70px);

  }
}