.cusStyle {
  letter-spacing: 1px !important;
  line-height: 38px;
  font-size: 32px;
  width: 240px;
  margin-left: 20px;
}

@media (min-width: 992px) {
  .cusStyle {
    letter-spacing: 2px !important;
    line-height: 50px;
    font-size: 32px;
    width: 100%;
    margin-left: 0px !important;
  }
}
