.dateSlider .slick-slide {
   color: rgb(156 163 175 / 1);
}

.dateSlider .slick-current+.slick-slide {
   background-color: rgb(191 219 254);
   color: rgb(55 65 81 / 1);
font-weight: 600;
font-size: 1.5rem;
}



